<plist version="1.0">
<dict>
<key>CLIENT_ID</key>
<string>
714754057947-464se5ilq0om81sf5mnb4adai71fu4vr.apps.googleusercontent.com
</string>
<key>REVERSED_CLIENT_ID</key>
<string>
com.googleusercontent.apps.714754057947-464se5ilq0om81sf5mnb4adai71fu4vr
</string>
<key>API_KEY</key>
<string>AIzaSyCRJ6BBNEUnEWobE7ALWo1Esy9-tYaLyKY</string>
<key>GCM_SENDER_ID</key>
<string>714754057947</string>
<key>PLIST_VERSION</key>
<string>1</string>
<key>BUNDLE_ID</key>
<string>com.example.quizApp</string>
<key>PROJECT_ID</key>
<string>quizapp-15a21</string>
<key>STORAGE_BUCKET</key>
<string>quizapp-15a21.appspot.com</string>
<key>IS_ADS_ENABLED</key>
<false/>
<key>IS_ANALYTICS_ENABLED</key>
<false/>
<key>IS_APPINVITE_ENABLED</key>
<true/>
<key>IS_GCM_ENABLED</key>
<true/>
<key>IS_SIGNIN_ENABLED</key>
<true/>
<key>GOOGLE_APP_ID</key>
<string>1:714754057947:ios:ed495309b7fd72e9ce0efe</string>
</dict>
</plist>